# Dependencies
node_modules/
.pnp/
.pnp.js

# Build output
dist/
src-tauri/target/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Env
.env
.env.local
.env.*.local

# Tauri
src-tauri/WixTools/
src-tauri/icons/

# Logs
*.log
npm-debug.log*

# Companion data
.companion/
