@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Microsoft YaHei", "PingFang SC", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  background: transparent;
  user-select: none;
}

/* 让窗口可以拖拽 */
.titlebar {
  -webkit-app-region: drag;
}

.titlebar button {
  -webkit-app-region: no-drag;
}
